@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}


.height{
  height: 2.5rem;
}


@import url('https://fonts.cdnfonts.com/css/norwester');

.font-norwester {
  font-family: 'Norwester', sans-serif;
  /* font-weight: 400; */
}


@media (min-width: 640px) {
  .sm\:w-40 {
    width: 10rem; /* 160px */
  }
}

.w-32 {
  width: 8rem; /* 128px */
}

.h-auto {
  height: auto;
}

.right-5 {
  right: 3.25rem; /* ~52px (updated from 4.25rem) */
}

.bottom-20 {
  bottom: 10rem; /* 160px */
}

