/* globals.css (Cleaned Version) */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif; /* Aap apni custom font family yahan daal sakte hain */
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

html {
    scroll-behavior: smooth;
}


@media (min-width: 1024px) {


    .img-log{
        top: 11%;
        width: 18%;
        height: 7%;
    }
}